<div class="container-fluid">
  <div class="Header">
    <div class="search">
      <input type="text" placeholder="Search on dashboard" class="searchInput" />
    </div>
<img src="./../assets/images/LS.png" class="logo-header-properties" />


  </div>

  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse cent" id="navbarSupportedContent">
        <ul class="nav navbar-nav cent2">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Catalogue
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Customer
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Order List
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#">Support
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Queries
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Setting
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Help
              <span class="sr-only">(current)</span>
            </a>
          </li>


        </ul>

      </div>
    </nav>
  </div>
  <div class="custom-container">

    <div class="container">


      <div class="container-fluid">
        <div class="menu2">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav2">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Shop Setup
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item mrleft active ">
                  <a class="nav-link" href="#">Users
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item mrleft active">
                  <a class="nav-link" href="#">Coupons List
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item  mrleft active">
                  <a class="nav-link" href="#">Shipment Method
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item mrleft active">
                  <a class="nav-link" href="#">Account Setting
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>


        <div class="row">
          <div class="col-sm-6 col-xl-6 col-md-12 col-12">

            <form>
              <!-- From 1 -->
              <div class="form-header">
                <h3>Shop Setup</h3>
              </div>
              <div class="left-indent">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Shop Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter shop name here">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="5" placeholder="Enter description here" id="comment"></textarea>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter address here">
                  </div>
                </div>

                <div class="form-group row">

                  <label for="inputPassword" class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" value="California" id="inputPassword" placeholder="Enter address here">
                  </div>

                  <label for="inputPassword" class="col-sm-3 col-form-label">Postal Code</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" value="46000" id="inputPassword" placeholder="Enter address here">
                  </div>

                </div>
                <!--/form-group-->


                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>United States of America</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Form 2 -->
              <div class="form-header">
                <h3>Social Media</h3>
              </div>
              <div class="left-indent">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Facebook</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter url here">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Twitter</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter url here">
                  </div>
                </div>


                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Google Plus</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter url here">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button class="btn btn-primary" style="margin-top: 35px;">Save Changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-4 col-xl-6 col-md-12 col-12">

            <div class="container">
              <div class="user-profile">
                <div class="container">
                  <div class="logo-header">
                    <b>Shop Logo</b>
                  </div>
                  <div class="image-logo" style="text-align: center">
                    <img src="./../assets/images/LS.png" class="logo-properties">
                  </div>
                  <div class="logo-link">
                    <a style="text-decoration: underline; color: blue">Logo Update</a>
                  </div>
                  <hr>

                  <div class="inputs">
                    <b>
                      <p style="text-align: center">Shop Slogan</p>
                    </b>
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter slogan here">
                  </div>

                  <div class="button-slogan">
                    <button class="btn btn-primary">Customize Landing Page Design</button>
                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>


      </div>


    </div>

  </div>